# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env
.env*.local

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editors
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Testing / coverage
coverage/
